@import "../../node_modules/bulma/sass/utilities/functions.sass";

// Edit the initial variables here

@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";

// Edit the derived variables here

@import "../../node_modules/bulma/sass/utilities/derived-variables.sass";

// Rest of the basics

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/icon.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/other.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";

/* Show scrollbar only as needed */
html {
    overflow: auto;
}

/* The password peek */
.peek {
    pointer-events: all;
    cursor: pointer;
    color: #000;

    &.disabled {
        pointer-events: none;
    }
}

input[type=text],
input[type=password] {

    &::placeholder {
        user-select: none;
    }
}

/* Preloader */
.spinner {
    width: 60px;
    height: 60px;

    position: relative;
    margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {

    0%,
    100% {
        -webkit-transform: scale(0.0)
    }

    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {

    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.preloader-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($black, 0.8);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms, visibility 500ms;

    &.is-active {
        opacity: 1;
        visibility: visible;
    }
}

/* The notification component */
.notification-holder {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding: 0 10vw;
    align-items: center;
    justify-content: center;
    background: rgba($black, 0.8);
    z-index: 90;
    transition: opacity 300ms, visibility 300ms;

    .notification {
        max-width: 600px;
    }

    .overlay {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &.hidden {
        opacity: 0;
        visibility: hidden;
    }
}