@import "../../node_modules/bulma/sass/utilities/functions.sass";

// Edit the initial variables here

@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";

// Edit the derived variables here

@import "../../node_modules/bulma/sass/utilities/derived-variables.sass";

// Rest of the basics

@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/icon.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/other.sass";
@import "../../../node_modules/bulma/sass/elements/title.sass";

/* Show scrollbar only as needed */
html {
    overflow: auto;
}

/* The password peek */
.peek {
    pointer-events: all;
    cursor: pointer;
    color: #000;

    &.disabled {
        pointer-events: none;
    }
}

input[type=text],
input[type=password] {

    &::placeholder {
        user-select: none;
    }
}